@using Microsoft.AspNetCore.Identity
@using _31._01.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ArticlesIndexVM
@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div>
        @if (!SignInManager.IsSignedIn(User))
        {
        <h1 class="display-2">Stay curious.</h1>
        <h1 class="display-5">Discover stories, thinking, and expertise from writers on any topic.</h1>
        <br />
        
            <nav>
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="OurStory"><button class="btn btn-outline-dark rounded-pill display-4 " type="button">Start Now</button></a>
                </div>
            </nav>
                
            
        }
    </div>
</form>
<br />
    <div>
        <h1 class="display-6 text-light bg-secondary text-center">Most Read Articles</h1>
    </div>
@foreach (var item in Model.Articles)
{
    <div class="card text-center">
        <div class="card-header">
                @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="card-body">
                <h5 class="card-title text-muted ">@Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)</h5>
                @if(item.Content.Length>150){
                    <p class="card-text">@item.Content.Substring(0,150)...</p>
                }else{
                <p class="card-text">@item.Content</p>
                }
                
                <a asp-action="Read" asp-route-id="@item.Id" class="btn btn-outline-warning">Read</a>
        </div>
        
        <div class="card-footer text-muted">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg>
                @Html.DisplayFor(modelItem => item.Popular)
        </div>
    </div>
    <br />
    <br />
}
