@using Microsoft.AspNetCore.Identity
@using _31._01.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@model CategoriesIndexVM
@{
    ViewData["Title"] = "Category";
}
<body>
    <div>
        <h1 class="display-6 text-light bg-secondary text-center">CATEGORİES</h1>
    </div>
    <form asp-action="AddCategories" asp-controller="Categories" asp-route-id="@Model.UserId" method="post" name="id">
    @foreach (var item in Model.Categories)
    {
        @if (@Model.UsersCategories.Contains(item)){
                <div class="form-check">
                    <input class="form-check-input" name="ids" type="checkbox" value="@item.Id" checked />
                    <div class="card">
                        <h5 class="card-header">@Html.DisplayFor(modelItem => item.CategoryType)</h5>
                        <div class="card-body">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.About)</p>
                        </div>
                    </div>
                </div>
        }else{
            <div class="form-check">
                <input class="form-check-input" name="ids" type="checkbox" value="@item.Id" />
                <div class="card">
                    <h5 class="card-header">@Html.DisplayFor(modelItem => item.CategoryType)</h5>
                    <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.About)</p>
                    </div>
                </div>
            </div>
            
        }
        
    }
        <input type="submit" name="submit" value="Follow" class="btn btn-outline-primary" />
    </form>
</body>
