@using Microsoft.AspNetCore.Identity
@using _31._01.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@model CategoriesIndexVM
@{
    ViewData["Title"] = "Category";
}
<body>
    <div>
        <h1 class="display-6 text-light bg-secondary text-center">CATEGORİES</h1>
    </div>
    @foreach (var item in Model.Categories)
    {
        @if (@Model.UsersCategories.Contains(item)){
            <div class="card">
                <h5 class="card-header">@Html.DisplayFor(modelItem => item.CategoryType)</h5>
                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.About)</p>
                    <a class="btn btn-outline-primary" asp-action="AddCategories" asp-route-id="@SignInManager.UserManager.GetUserId(User)">
                        UnFollow
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </a>
                </div>
            </div>
            <br />
        }else{
        <div class="card">
            <h5 class="card-header">@Html.DisplayFor(modelItem => item.CategoryType)</h5>
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(modelItem => item.About)</p>
                    <a class="btn btn-outline-primary" asp-action="AddCategories" asp-route-id="@SignInManager.UserManager.GetUserId(User)">
                    Follow
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>
            </div>
        </div>
        <br />
        }
        
    }
</body>
